<nav class="navbar navbar-expand-md navbar-dark accent">
    <a href="/index.html" class="navbar-brand">
        <span class="material-icons align-middle">restaurant_menu</span>truYum
    </a>
    <button role="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a [routerLink]="['/menu-item-list']" class="nav-link text-light">Menu Items</a>
            </li>
            <div *ngIf="user!=undefined else anonymous">
                <li *ngIf="!user.isAdmin" class="nav-item"><a [routerLink]="['/cart']" class="nav-link text-light">Cart</a>
                </li>
                <li class="nav-item"><a href="/logged-in-admin.html" class="nav-link text-light">
                        <span class="material-icons align-middle">
                            person
                        </span>{{user.firstName}}</a></li>
            <li class="nav-item"><a class="nav-link text-light">Signout</a></li>
            </div>
            <ng-template #anonymous>
                <li class="nav-item"><a [routerLink]="['/login']" class="nav-link text-light">Login</a>
                </li>
                <li class="nav-item"><a [routerLink]="['/sign-up']" class="nav-link text-light">Sign Up</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>

<app-food-search (searching)="getMenuItem($event)"></app-food-search>



<!-- <div class="container-fluid pt-5">
    <div class="row pt-1">
        <div class="col-lg-3 col-md-6">
            <div class="card mb-2" *ngIf="item!=null">
                <img [src]="item.imageURL" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 col-sm-8 pr-0">
                            <h6 class="card-title font-weight-normal">{{item.foodName}}</h6>
                        </div>
                        <div class="col-4 col-sm-4 p-0 text-danger">
                            <p class="text-right">&#8377;{{item.price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-8 pr-0">
                            <p>
                                <span *ngIf="item.isActive else nonactive"
                                    class="badge bg-success text-light mr-1">Active</span>
                                <ng-template #nonactive>
                                    <span class="badge bg-danger text-light mr-1">Inactive</span>
                                </ng-template>
                                <span class="text-secondary small">{{item.category}}</span>
                            </p>
                        </div>
                        <div class="col-4 col-sm-4 p-0">
                            <p *ngIf="item.isFreeDelivery" class="small text-right">
                                <span class="material-icons align-middle md-20 text-blue mr-1">local_shipping</span>
                                <span class="badge bg-primary text-light">FREE</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7 col-sm-7 pr-0">
                            <p class="tiny text-secondary m-0">
                                <span class="material-icons align-middle md-14">schedule</span>
                                Launch
                            </p>
                            <p class="tiny text-secondary">
                                {item.launchDate.toLocaleDateString()}} 
                            </p>
                        </div>
                        <div class="col-5 col-sm-5 p-0 text-right">
                            <a href="#">
                                <button class="btn btn-accent">
                                    <span class="material-icons align-middle md-20">edit</span>
                                    Edit
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div *ngIf="menuItemList.length!=0 else emptyList">
    <div class="container-fluid pt-5">

        <div class="row pt-1">
            <div class="col-lg-3 col-md-6" *ngFor="let menuItem of menuItemList">
                <app-food-item-info [item]="menuItem" [user]="user" (onAdding)="addToCart($event)"></app-food-item-info>
            </div>
        </div>
    </div>

</div>

<ng-template #emptyList>
    <div class="container-fluid pt-5">

        <div class="row pt-1">
            <div class="col-md-12">
                <h6 class="display-3">No such menuitems present</h6>
            </div>
        </div>
    </div>
</ng-template>